<div class="container" style="max-width: 400px;">
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= form_with model: @user, url: update_password_path, local: true do |f| %>
    <div>
        <%= f.label :current_password %>
        <%= f.password_field :current_password, :class=>'form-control' %>
    </div>
    <div>
        <%= f.label :new_password %>
        <%= f.password_field :password, :class=>'form-control' %>
    </div>
    <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class=>'form-control' %>
    </div><br>
    <%= f.submit "Update Password", class: 'btn btn-outline-primary' %>
    <% end %>
</div>